.menuSkin--toggle {
	position: relative;

	.menu-item {
		cursor: pointer;
	}

	.toggled {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
	}

	.no-js & .menu-item:hover .toggled { display: block; }
}