.alert {
	padding: 1em;
	margin: 0 0 1em;
}

.alert.alert-success {
	background: #00b9d1;
	border: none;
	border-radius: 3px;
}

.alert.alert-error {
	background: #ffd44a;
	border: none;
	border-radius: 3px;
	color: #5c4500;
}