#article {
	ul, ol {
		list-style-position:inside;
	}

	ul{
		list-style-type: initial;
	}

	ol{
		list-style-type: decimal;
	}

	em {
		font-style: italic;
	}

	blockquote {
		color: #999;
		padding-left: 1em;
		border-left: 2px solid $urgent;
	}

	hr {
		border-top: 1px #ccc solid;
		border-bottom: none;
		border-left: none;
		width: 100%;
		margin: 2em 0;
	}

	h2 {
		font-size: 1.5em;
		line-height: 1em;
		margin: 0 0 0.43em;
	}

	code {
		border: 1px solid #ccc;
		border-radius: 3px;
		padding: 5px;
		background-color: #F8F8FF;
		font-family: monospace;
		font-size: .8em;
		color: #000;
	}	
}