.sectionPanes {
	.contentPane {
		html.js & { display: none; }
	}
}


.contentPane {}
.contentPane--chubby { padding: 2em 0; }

.contentPane-closeButton {
	float: right;
	margin-left: 0.5em;
	cursor: pointer;
}

