img {
	max-width: 100%;
	height: auto;

	&.lazyLoad { 
		background: url(../images/Bars.gif) center center;
		background-size: 15px 15px;

		&.isLoaded { background: none; }
	}
}

p { margin: 1em 0; }
p:first-child { margin-top: 0; }

.contentPane ul, .contentPane ol {
	margin: 1em 0;
}

.contentPane li {
	padding: .25em 0;
	border-top: 1px solid #cccccc;

	&:first-child {border-top: none;}
}

a {
	color: $urgent;
	text-decoration: none;
}
a:visited { color: $urgent; }
a:hover { text-decoration: underline; color: darken($urgent, 20%);  }

.hr {
	width: 100%;
	height: 2px;
	margin-bottom: 1em;

	border-top: 2px solid $baseText;
}

.inlineIcon { vertical-align: middle; }