img {
	max-width: 100%;
	height: auto;
}

p { margin: 1em 0; }
p:first-child { margin-top: 0; }

a {
	color: $urgent;
	text-decoration: none;
}
a:visited { color: lighten($urgent, 20%); }
a:hover { text-decoration: underline; }

.hr {
	width: 100%;
	height: 1px;
	margin-bottom: 1em;

	border-top: 1px solid $baseText;
}

.inlineIcon { vertical-align: middle; }