textarea,
input,
button {
	font-family: sans-serif;
	font-weight: 300;
	font-size: 1em;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="numbmer"],
textarea {
	padding: 1em;

	border: none;
	background: #EEE;
	color: #999;

	&:invalid,
	&.invalid {
		border: 1px solid #ffd44a;
	}
}

textarea { min-height: 15em; }

::-webkit-input-placeholder { color: #ccc; }
:-moz-placeholder { color: #ccc; }
::-moz-placeholder { color: #ccc; }
:-ms-input-placeholder { color: #ccc; }