$grid-padding:		1em;
$grid-columns:		12;

@mixin gridCell($small, $large, $suffix: '') {
	@if $suffix != '' {
		$suffix: "-#{$suffix}";
	}

	.grid-cell-#{$small}-#{$large}#{$suffix} {
		width: $small/$large * 100%;
	}

	.grid-push-#{$small}-#{$large}#{$suffix} {
		left: $small/$large * 100%;
	}

	.grid-pull-#{$small}-#{$large}#{$suffix} {
		left: -$small/$large * 100%;
	}
}

.grid {
	@include clearfix;
	margin-left: -$grid-padding;
	&.stack {
		margin-top: 40px;
	}
}

[class*='grid-cell-'] {
	float: left;
	padding-left: $grid-padding;
}

[class*='grid-push-'],
[class*='grid-pull-'] {
	position: relative;
}

.push-vertical-30 {
	margin-top: 30px;
}
@for $large from 1 through $grid-columns {
	@for $small from 1 through $large {
		@include gridCell($small, $large);
	}
}

@media screen and (min-width: 600px) {
	@for $large from 1 through $grid-columns {
		@for $small from 1 through $large {
			@include gridCell($small, $large, "medium");
		}
	}
}

@media screen and (max-width: 600px) {
	.mobile {
		width:82.9%;
		left:0;
		margin-left: 8.53%;
	}
}