* {
	box-sizing: border-box;
}

.l-pageContainer { 
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 0.5em;
}

.blockElement {
	display: block;
	width: 100%;
}

header[role=banner] { position: relative; }

@media screen and (min-width: 600px) {
	#SectionMenu {
		position: absolute;
		right: 0;
		bottom: 0;
	}
}