* {
	box-sizing: border-box;
}

.l-pageContainer {
	padding: 0 0.5em;
	
	@media screen and (min-width: 600px) {
		padding: 0;
	}
}
.l-positionContext { position: relative; }

.blockElement {
	display: block;
	width: 100%;
}


@media screen and (min-width: 600px) {
	#SectionMenu {
		position: absolute;
		right: 0;
		bottom: 0;
	}
}