body {
	font-family: sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.5;
	color: $baseText;

	-webkit-font-smoothing: antialiased;
}

strong {
	font-weight:700;
}

.textUrgent {
	color: $urgent;
	font-weight: 700;
}

.textImportant {
	color: $important;
	font-weight: 700;
}

.text-left { text-align: left !important; }
.text-right { text-align: right !important; }
.text-center { text-align: center !important; }

@media screen and (min-width: 600px) {
	.text-left-medium { text-align: left !important; }
	.text-right-medium { text-align: right !important; }
	.text-center-medium { text-align: center !important; }	
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: Adelle;
	color: $important;

	small {
		display: block;
		font-size: 0.5em;
		font-family: sans-serif;
		font-weight: 300;
		line-height: 1.5em;

		@media screen and (min-width: 600px) {
			display: inline-block;
		}
	}
}

h1, .h1 {
	font-size: 1.5em;
	line-height: 1em;
	margin: 0 0 0.43em;

	small { font-size: 16px; }
	&.large {
		font-size: 2.75em;
	}
}

h2, .h2 {
	&.large {
		font-size: 1.55em;
	}
}

.page-title {
	margin-top: 30px;
 	margin-bottom: 0;
 	padding-bottom: 0;
 	font-size: 2.75em;
}

.page-subhead {
	margin-top: 0;
 	margin-bottom: 0;
 	padding-bottom: 0;
 	font-size: 1.3em;
}
