.owl-carousel .owl-wrapper-outer { overflow: visible; }

.carousel-slide {
	background: #eee;
	overflow: hidden;
	border-radius: 2px;
}

.owl-item {
	position: relative;
	left: -1em;

	&.active { left: 0; }
	&.active + .owl-item { left: 1em; }

	img {
		display: block;
		border-radius: 3px;
		overflow: hidden;
		border: 1px solid #eee;
	}
}

.owl-theme .owl-controls .owl-buttons div {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 1/12 *100%;
	margin: 0;
	padding: 0;

	font-size: 1em;
	color: transparent;
	background: url(../images/transparent.gif);

	&.disabled { display: none; }
}

.owl-theme .owl-controls .owl-buttons .owl-next {
	left: 100%;
	margin-left: 1em;
}
.owl-theme .owl-controls .owl-buttons .owl-prev { 
	right: 100%;
	margin-right: 1em;
}